body{
    background-color: rgb(30, 26, 37);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
font-family: Outfit, sans-serif;
    flex-direction: column;
;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: rgb(45, 46, 70);
    border-radius: 25px;
    width: 25vw;
    height: 80vh;
    color:white;
    gap:calc(2px + 0.05vw);


} 
.card__images{
    display: flex;
    margin-top: 30px;
    width: 80%;
    height: 50%;
    background-color: blue;
    border-radius: 5px;

} 
.card__images-layer{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
} 
.card__title{
    position: relative;
    margin-right: 100px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    
}

.card p{
    white-space: pre-line;
    color:rgb(80, 145, 202);
    font-weight:50;
    margin-right: 55px;
    margin-top: 2px;
    
}
.card__time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:100px;
} 
.card__time-left{
    color: aqua;
    display:flex;
    gap:5px;
} 
.card__time-right{
    display: flex;
    gap:10px;
    color:rgb(80, 145, 202);

} 
.card__creator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
} 
.attribution{
        color: blue;

}

hr {
    width: 20vw;
    height: 2px;
    border: none;
    color: rgb(80, 145, 202);
    background-color: rgb(80, 145, 202);
}


